@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}
